.background-customizable {
  background-color: #f6f7f4;
}
.banner-customizable {
  padding: 24px 0px 18px 0px;
  background-color: #edf2e8;
}
.logo-customizable {
  max-width: 90%;
  max-height: 100%;
}
.label-customizable {
  font-weight: 600;
  color: #172d35;
}
.inputField-customizable {
  width: 100%;
  height: 44px;
  color: #172d35;
  background-color: #ffffff;
  border: 1px solid #9eada7;
}
.inputField-customizable:focus {
  border-color: #0a7c78;
  outline: 2px;
}
.submitButton-customizable {
  font-size: 15px;
  font-weight: bold;
  margin: 22px 0px 12px 0px;
  width: 100%;
  height: 46px;
  color: #ffffff;
  background-color: #0a7c78;
}
.submitButton-customizable:hover {
  color: #ffffff;
  background-color: #086661;
}
.textDescription-customizable {
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
  font-size: 15px;
  color: #637680;
}
.errorMessage-customizable {
  padding: 10px;
  font-size: 14px;
  width: 100%;
  background: #fff3f3;
  border: 1px solid #b83e45;
  color: #b83e45;
}
